@import "shared/reset-styles";
@import "shared/variables";
body {
  font-family: $font-family_primary;
}
.hero {
  height: 1383px;
  font-size: 12px;
  .hero-wrap input:checked + .hero-wrap-header .hero-wrap-link a {
    height: 38px;
    visibility: visible;
    transition: all .1s ease;
  }
  .hero-wrap-menu {
    position: absolute;
  }
  .hero-wrap-link a {
    height: 0;
    visibility: hidden;
    transition: all .1s ease;
  }
  .body-home {
    margin-top: 30px;
    .body-home-title {
      font-size: 55px;
      white-space: nowrap;
    }
    .body-home-button{
      width: 161px;
      height: 44px;
      background: #C271FF;
      border: none;
      border-radius: 22px;
      font-size: 14px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
      margin-top: 30px;
    }
  }
}

.home-page {
  background: #071629 url("../images/pic_1.jpg") no-repeat 60% 0;
  background-size: 200%;
}

.test {
  width: 100vw;
  height: 300px;
}
/* 768px view break point
  ============================= */
@media screen and (min-width: 768px) {
  .hero {
    height: 1093px;
    background-size: cover;
    .hero-wrap-link a {
      visibility: visible;
    }
    .body-home{
      margin-top: 180px;
      .body-home-title{
        font-size: 90px;
      }
    }
  }

}
/* 1440px view break point
  ============================= */
@media screen and (min-width: 1440px){
  .hero {
    height: 1093px;
    &-wrap {
      max-width: 1440px;
      &-header {
        padding-left: 175px;
        padding-right: 175px;
      }
    }
  }
}
